.table {
    border-collapse:collapse;
    width: 100%;
    text-align: left;
}

.th {
  background-color: #c0c0c0;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.td {
  padding: 0.5rem;
  border: 0.06rem solid #ddd;
  word-wrap: break-word;
  max-width: 30vw;
}
